<div class="layout-container flex flex-col min-h-screen bg-surface text-surface">
  <header role="banner" class="site-container py-6">
    {{ page.header }}
  </header>

  <div class="site-container">
    {{ page.primary_menu }}
    {{ page.secondary_menu }}
    {{ page.breadcrumb }}
    {{ page.highlighted }}
    {{ page.help }}
  </div>

  <main role="main" class="min-h-90 flex-grow">
    <a id="main-content" tabindex="-1"></a>

    {# Section with max-width layout #}
    <div class="site-container py-6">
      {% if page.highlighted %}
        {{ page.highlighted }}
      {% endif %}

      {{ page.content }}
    </div>


    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer role="contentinfo" class="layout--full-width bg-gradient-to-r from-gray-900 via-gray-700 to-gray-900 text-white">
      <div class="site-container py-6 min-h-70">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}
</div>
